{
    "arrowParens": "always",
    "bracketSameLine": false,
    "bracketSpacing": true,
    "embeddedLanguageFormatting": "auto",
    "htmlWhitespaceSensitivity": "css",
    "insertPragma": false,
    "jsxSingleQuote": false,
    "printWidth": 120,
    "proseWrap": "preserve",
    "quoteProps": "as-needed",
    "requirePragma": false,
    "semi": true,
    "singleAttributePerLine": true,
    "singleQuote": true,
    "tabWidth": 4,
    "trailingComma": "all",
    "useTabs": false,
    "tailwindAttributes": ["class", "className"],
    "tailwindFunctions": ["cn", "cva", "twMerge"],
    "vueIndentScriptAndStyle": false,
    "plugins": ["@ianvs/prettier-plugin-sort-imports", "prettier-plugin-tailwindcss"],
    "importOrderCaseSensitive": true,
    "importOrder": [
        "^(react(.*)$)|^(react$)",
        "<THIRD_PARTY_MODULES>",
        "^[./]",
        "",
        "^@/styles/(.*)$",
        "^@/assets/(.*)$",
        "",
        "^@/data/(.*)$",
        "^@/config/(.*)$",
        "^@/lib/(.*)$",
        "^@/common/(.*)$",
        "^@/hooks/(.*)$",
        "^@/services/(.*)$",
        "^@/store/(.*)$",
        "^@/utils/(.*)$",
        "^@/interfaces/(.*)$",
        "^@/providers/(.*)$",
        "^@/context/(.*)$",
        "",
        "^@/layouts/(.*)$",
        "^@/pages/(.*)$",
        "^@/modules/(.*)$",
        "^@/components/ui/(.*)$",
        "^@/components/(.*)$"
    ]
}
